<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    </head>
  <style>
    /* Webpixels CSS */
    /* Utility and component-centric Design System based on Bootstrap for fast, responsive UI development */
    /* URL: https://github.com/webpixels/css */

    @import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);

    /* Bootstrap Icons */
    @import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");
</style>
<body>
  <div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
    <nav class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 navbar-light bg-white border-bottom border-bottom-lg-0 border-end-lg"
        id="navbarVertical">
        <div class="container-fluid">
            <!-- Toggler -->
            <button class="navbar-toggler ms-n2" type="button" data-bs-toggle="collapse"
                data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Brand -->
            <a class="navbar-brand py-lg-2 mb-lg-5 px-lg-6 me-0" href="/">
                <img src="/cowork.svg" alt="...">
            </a>

            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidebarCollapse">
                <!-- Navigation -->
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="/dashboard/">
                      <i class="bi bi-house"></i> Dashboard
                    </a>
                  </li>
                  <% if (userType === 'admin' || userType === 'hr') { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard/management">
                            <i class="bi bi-people"></i> Management
                        </a>
                    </li>
                <% } %>
                  <li class="nav-item">
                    <a class="nav-link" href="/dashboard/leads">
                      <i class="bi bi-bar-chart"></i> Leads
                    </a>
                  </li>
                  <% if (userType === 'admin' || userType === 'hr') { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard/jobs">
                            <i class="bi bi-card-list"></i> Jobs Listing
                        </a>
                    </li>
                <% } %>
                <% if (userType === 'admin' || userType === 'hr') { %>
                  <li class="nav-item">
                      <a class="nav-link" href="/dashboard/resume">
                          <i class="bi bi-card-list"></i> Resumes
                      </a>
                  </li>
              <% } %>
              <% if (userType === 'admin' || userType === 'blog writer') { %>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard/blog">
                        <i class="bi bi-file-text"></i> Blog
                    </a>
                </li>
            <% } %>
            <% if (userType === 'admin' || userType === 'hr') { %>
              <li class="nav-item">
                <a class="nav-link" href="/dashboard/testimonials">
                  <i class="bi bi-file-text"></i> Testimonials
                </a>
              </li>
            <% } %>
                </ul>
                <!-- Divider -->
                <hr class="navbar-divider my-5 opacity-20">
                <!-- Navigation -->

                <!-- Push content down -->
                <div class="mt-auto"></div>
                <!-- User (md) -->
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link" href="/auth/logout">
                            <i class="bi bi-box-arrow-left"></i> Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
     <!-- Main content -->
<div class="h-screen flex-grow-1 overflow-y-lg-auto">
    <!-- Header -->
    <header class="bg-surface-primary border-bottom pt-6">
        <div class="container-fluid">
            <div class="mb-npx">
                <div class="row align-items-center">
                    <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                        <!-- Title -->
                        <h1 class="h2 mb-0 ls-tight">Management</h1>
                    </div>
                    <!-- Actions -->
                    <div class="col-sm-6 col-12 text-sm-end">
                        <div class="mx-n1">
                            <a href="/dashboard/management/create" class="btn d-inline-flex btn-sm btn-primary mx-1">
                                <span class=" pe-2">
                                    <i class="bi bi-plus"></i>
                                </span>
                                <span>Create</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Nav -->
                <ul class="nav nav-tabs mt-4 overflow-x border-0">
                  <% if (userType === 'admin') { %>
                    <li class="nav-item ">
                        <a href="" class="nav-link active" id="adminBtn">Admins</a>
                    </li>
                    <% } %>
                    <!-- <li class="nav-item">
                        <a href="" class="nav-link font-regular" id="agentBtn">Agents</a>
                    </li> -->
                    <% if (userType === 'admin') { %>
                    <li class="nav-item">
                        <a href="" class="nav-link font-regular" id="hrBtn">HR</a>
                    </li>
                    <% } %>
                    <li class="nav-item">
                        <a href="" class="nav-link font-regular" id="writertBtn">Blog Writer</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!-- Main -->
    <main class="py-6 bg-surface-secondary">
        <div class="container-fluid">
          <div class="table-responsive">
            <table id="admintable" class="table table-hover table-nowrap">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Username</th>
                  <th scope="col">User Type</th>
                  <th colspan="2" scope="col">Actions</th>
        
                </tr>
              </thead>
              <tbody>
                <% users.filter(user => user.userType === 'admin').forEach(function(user) { %>
                  <tr>
                    <td><%= user.username %></td>
                    <td><%= user.userType %></td>
                    <td >
                      <a href="/dashboard/management/edit/<%= user._id %>" class="btn btn-sm btn-neutral">Edit</a>
                     
                  </td>
                  <td>
                    <a href="/dashboard/management/delete/<%= user._id %>" onclick="return confirm('Are you sure you want to delete this user?');" class="btn btn-sm btn-neutral"><i class="bi bi-trash"></i></a>
                  </td>
                  </tr>
                  <% }); %>
              </tbody>
            </table>
            <!-- <table style="display: none;" id="agenttable" class="table table-hover table-nowrap">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Username</th>
                  <th scope="col">User Type</th>
                  <th scope="col">Lead Access</th>
                  <th colspan="2" scope="col">Actions</th>
        
                </tr>
              </thead>
              <tbody>
                <% users.filter(user => user.userType === 'agent').forEach(function(user) { %>
                  <tr>
                    <td><%= user.username %></td>
                    <td><%= user.userType %></td>
                    <td><%= user.leadAccess.join(', ') %></td>
                    <td >
                      <a href="/dashboard/management/edit/<%= user._id %>" class="btn btn-sm btn-neutral">Edit</a>
                     
                  </td>
                  <td>
                    <a href="/dashboard/management/delete/<%= user._id %>" onclick="return confirm('Are you sure you want to delete this user?');" class="btn btn-sm btn-neutral"><i class="bi bi-trash"></i></a>
                  </td>
                  </tr>
                  <% }); %>
              </tbody>
            </table> -->
            <table style="display: none;" id="hrtable" class="table table-hover table-nowrap">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Username</th>
                  <th scope="col">User Type</th>
                  <th colspan="2" scope="col">Actions</th>
        
                </tr>
              </thead>
              <tbody>
                <% users.filter(user => user.userType === 'hr').forEach(function(user) { %>
                  <tr>
                    <td><%= user.username %></td>
                    <td><%= user.userType %></td>
                    <td >
                      <a href="/dashboard/management/edit/<%= user._id %>" class="btn btn-sm btn-neutral">Edit</a>
                     
                  </td>
                  <td>
                    <a href="/dashboard/management/delete/<%= user._id %>" onclick="return confirm('Are you sure you want to delete this user?');" class="btn btn-sm btn-neutral"><i class="bi bi-trash"></i></a>
                  </td>
                  </tr>
                  <% }); %>
              </tbody>
            </table>
            <table style="display: none;" id="writertable" class="table table-hover table-nowrap">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Username</th>
                  <th scope="col">User Type</th>
                  <th colspan="2" scope="col">Actions</th>
        
                </tr>
              </thead>
              <tbody>
                <% users.filter(user => user.userType === 'blog writer').forEach(function(user) { %>
                  <tr>
                    <td><%= user.username %></td>
                    <td><%= user.userType %></td>
                    <td >
                      <a href="/dashboard/management/edit/<%= user._id %>" class="btn btn-sm btn-neutral">Edit</a>
                     
                  </td>
                  <td>
                    <a href="/dashboard/management/delete/<%= user._id %>" onclick="return confirm('Are you sure you want to delete this user?');" class="btn btn-sm btn-neutral"><i class="bi bi-trash"></i></a>
                  </td>
                  </tr>
                  <% }); %>
              </tbody>
            </table>
          </div>
        </div>
    </main>
</div>

</body>
<script src="/js/navToggle.js"></script>
<script>
  if (document.getElementById('adminBtn')) {
    document.getElementById('adminBtn').addEventListener("click",(e)=>{
e.preventDefault();
document.getElementById('admintable').style.display="table";
// document.getElementById('agenttable').style.display="none";
document.getElementById('hrtable').style.display="none";
document.getElementById('writertable').style.display="none";
document.getElementById('adminBtn').classList.add("active");
// // document.getElementById('agentBtn').classList.remove("active");
document.getElementById('hrBtn').classList.remove("active");
document.getElementById('hrBtn').classList.remove("active");
document.getElementById('writertBtn').classList.remove("active");
})
  }

// document.getElementById('agentBtn').addEventListener("click",(e)=>{
// e.preventDefault();
// document.getElementById('admintable').style.display="none";
// document.getElementById('agenttable').style.display="table";
// document.getElementById('hrtable').style.display="none";
// document.getElementById('writertable').style.display="none";
// document.getElementById('agentBtn').classList.add("active");
// document.getElementById('adminBtn').classList.remove("active");
// document.getElementById('hrBtn').classList.remove("active");
// document.getElementById('writertBtn').classList.remove("active");
// })
if (document.getElementById('hrBtn')) {
  document.getElementById('hrBtn').addEventListener("click",(e)=>{
e.preventDefault();
document.getElementById('admintable').style.display="none";
// document.getElementById('agenttable').style.display="none";
document.getElementById('hrtable').style.display="table";
document.getElementById('writertable').style.display="none";
document.getElementById('hrBtn').classList.add("active");
document.getElementById('adminBtn').classList.remove("active");
// document.getElementById('agentBtn').classList.remove("active");
document.getElementById('writertBtn').classList.remove("active");
})
}
if (document.getElementById('writertBtn')) {
  document.getElementById('writertBtn').addEventListener("click",(e)=>{
e.preventDefault();
document.getElementById('admintable').style.display="none";
// document.getElementById('agenttable').style.display="none";
document.getElementById('hrtable').style.display="none";
document.getElementById('writertable').style.display="table";
document.getElementById('writertBtn').classList.add("active");
document.getElementById('adminBtn').classList.remove("active");
// document.getElementById('agentBtn').classList.remove("active");
document.getElementById('hrBtn').classList.remove("active");
})
}

</script>
</html>
